    @Override
    public boolean equals(Object o) {
        if (this == o) {
            return true;
        }

        if (o == null || getClass() != o.getClass()) {
            return false;
        }

        {{className}} other = ({{className}} o;
        {{#primitives}}
        if ({{name}} != other.{{name}}) {
            return false;
        }
        {{/primitives}}
        {{#fields}}
        if ({{name}} != null ? !{{name}}.equals(other.{{name}}) : other.{{name}} != null) {
            return false;
        }
        {{/fields}}
        return true;
    }

    @Override
    public int hashCode() {
        int result = 1;
        {{#primitives}}
        result = 31 * result + {{name}};
        {{/primitives}}
        {{#fields}}
        result = 31 * result + ({{name}} != null ? {{name}}.hashCode() : 0);
        {{/fields}}
        return result;
    }
